$color-accent: #009ED7

$hero-color: black
$hero-background-color: transparent

$header-logo-height: 60px
$header-background: transparent

$body-font-family: "Roboto", sans-serif
$heading-font-family: "Roboto", sans-serif

$h1-font-family: "Roboto Condensed", sans-serif
